@model TodoList.Models.ToDoTaskComplexType

<table>
    <tbody>
        <tr>
            <td>
                <span id="lblName">Title</span>
            </td>
            <td>
                <input class="form-control" id="txtName" type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <span id="lblDescription">Description</span>
            </td>
            <td>
                <textarea class="form-control" id="txtDescription" rows="4" cols="50">
                </textarea>
            </td>
        </tr>
        <tr>
            <td>
                <span id="lblStatus">Status</span>
            </td>
            <td>
                <select class="m-task-status-dropdown" id="ddlTaskStatus">
                    <option value="0">-- Select --</option>
                    @foreach (var status in Model.TaskStatus)
                    {
                        <option value="@status.Value">@status.Text</option>
                    }
                </select>
            </td>
        </tr>
    </tbody>
</table>

<hr />

<div style="margin-left: 129px;">
    <input class="btn btn-primary" id="btnSubmit" type="submit" value="Submit" />
    <span style="margin-left: 16px;"></span>
    <input class="btn btn-default" id="btnCancel" type="submit" value="Cancel">
</div>
